<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <link href="/public/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->
  
    <!-- Custom styles for this template -->
    <link href="/public/css/login.css" rel="stylesheet">
    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/login.js"></script>
</head>
<body>
    <h1>Welcome MyBlog</h1>
    <div class="login">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">用户</span>
            <input name='user' type="text" class="form-control" placeholder="用户名" aria-describedby="basic-addon1">
          </div>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">密码</span>
            <input name='password' type="password" class="form-control" placeholder="******" aria-describedby="basic-addon1">
          </div>
          <button id="login" class="btn btn-success">立即登录</button>
    </div>
</body>
</html>